
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*bodyt styling*/
body {
    display: grid;
    background-color: lightgray;
    font-family: 'Times New Roman', Times, serif;
    grid-template: auto 1fr auto;
    max-width: 800px;
}

/*header styling*/
header {
    margin: 0;
    grid-column: 1/4;
}

h1 {
    text-align: left;
    color: #fff;
    background-color: gray;
    padding: 2rem;
    font-size: 20px;
}

nav {
    background-color: black;
    
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
}

.navigation li {
    flex: 1 1 auto;
}

.navigation a {
    display: block;
    text-align: center;
    color: #fff;
    padding: 1rem;
    text-decoration: none;
}

.navigation a:hover {
    text-decoration: underline;
    color: gold;
}

/*main styling*/
main {
    grid-column: 1/3;
    margin: 1px;
    padding: 1em;
}

/*aside styling*/
aside {
    background-color: #fff;
    grid-column: 3/4;
    margin: 1px;
    padding: 1em;
}

/*footer styling*/
footer {
    background-color: gray;
    grid-column: 1/4;
    text-align: center;
    color: #fff;
    padding: 2em;
}