* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Arimo", sans-serif;
}

header, main, footer {
  margin: 0 auto;
}

#course-title, footer {
  display: block;
  text-align: center;
  background-color: #DAFDA5;
  color: #630DBA;
  padding: 1rem;
  font-weight: bold;
}

/*Header styling*/
header {
  text-align: center;
}

/*Navigation style*/
nav {
  background-color: #310764;
  justify-content: space-evenly;
  color: #FCFCFC;
}

nav ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px;
}

nav li {
  flex: 1 1 auto;
}

nav a {
  text-decoration: none;
  color: #FCFCFC;
  transition: color 0.3s ease;
  padding: 8px 12px;
}

nav a:hover {
  text-decoration: underline;
  color: gold;
}

/*Main styling*/
main {
  max-width: 950px;
  margin: 0 auto;
  text-align: center;
  border: ridge;
  border-radius: 8px;

}

h1 {
  background-color: #DAFDA5;
  color: #630DBA;
  grid-column: 1/3;
}

.main-layout {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px; 
    max-width: 900px; 
    margin: 20px auto; 
    padding: 0 10px;
}

.card {
    margin: 10px 5px;
    border: none;
    padding: 15px;
}

.card-body {
    display: flex;
    gap: 15px;
    align-items: center;
}

.main-layout .card:nth-child(even) .card-body {
    flex-direction: row-reverse; 
}

.card img {
    width: 150px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    float: right;
    margin-left: 20px;
}

.card-content {
    flex: 1;
    text-align: left;
}

.card h2, .card h3 {
    margin: 0 0 10px 0;
    text-align: center;
    color: #630DBA;
}
