body {
  font-family: Arial, sans-serif;
  background: #121826;
  color: white;
  padding: 2rem;
}

form {
  max-width: 500px;
  margin: auto;
  display: grid;
  gap: 1rem;
}

input, select, textarea {
  padding: .5rem;
  border-radius: 5px;
  border: none;
}

.rating {
  display: flex;
  gap: 1rem;
}

input[type="submit"] {
  background: #10B981;
  color: white;
  cursor: pointer;
}

@media (min-width: 768px) {
  form {
    max-width: 700px;
  }

  .rating {
    justify-content: space-between;
  }
}
