@media (min-width: 800px) {
  main {
    grid-template-columns: 1fr 1fr;
    max-width: 1000px;
    margin: 0 auto;
  }

  .hero {
    grid-column: 1 / 3;
  }
 @media (min-width: 800px) {
  .weather-svg {
    display: none;
  } }

  .weather-icon::after {
    content: "⛅";
    font-size: 2rem;
    margin-left: .5rem;
  }
}
