@media (min-width: 600px) {
  #hamburger {
    display: none;
  }

  nav {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 0;
  }

  #gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}
