* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
     font-family: "Roboto", sans-serif;
}

header, main, footer {
    max-width: 640px;
    margin: 1rem auto;
    padding: 1em;
    background-color: rgb(78, 78, 138);
    border: 1px solid #bbb;
}

main {
    display: grid;
    grid-column: 1fr;
    grid-gap: 1rem;
}

section {
    padding: 1rem;
    background-color: #a397c0;
}